body {
    background-color: #4C6173 !important;
    color: #D9D1BA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
h1 {
    color: #D9D1BA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin: 5px;
}
p {
    font-size: large;
    color: #D9D1BA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
.about-section {
    padding: 25px;
    text-align: center;
    background-color: #4C6173;
    color: #D9D1BA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 25%;
    height: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 50%; 
}
.col {
    margin: 25px 25px 120px 25px; 
    height: 4px;
    padding: 4px;
    flex-direction: row;
    float:left;
}
li {
    font-size: large;
    color: #D9D1BA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
.photo1 {
    align-items: center;
    margin: 1px;
    max-width: 100%;
    height: auto;
    padding: 5px;
    width: 5%; 
}
.photo2 {
    align-items: center;
    margin: 1px;
    max-width: 100%;
    height: auto;
    padding: 5px;
    width: 5%;
}
a {
    font-size: large;
    color: #D9D1BA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
a:hover {
    font-size: large;
    color: #3a3b3c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
@media screen and (max-width: 600px) {
    .col {
        width: 100%;
    }
    body {
        display: inline-block;
    }
    .about-section {
        width: 100%;
    }
    p {
        text-align: center !important;
        display: inline-block;
        width: 100%;
    }
    h1 {
        text-align: center !important;
        display: inline-block;
        width: 100%;
    }
    .photo1 {
        align-items: center;
        margin: 1px;
        max-width: 100%;
        height: auto;
        width: 75px; 
    }
    .photo2 {
        align-items: center;
        margin: 1px;
        max-width: 100%;
        height: auto;
        width: 75px; 
    }
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 25%;
    height: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
}

}